.signup-options-option {
  width: 31%;
  float: left;
  margin: 0px;
  padding: 0px 5px;
}

.signup-options {
  padding: 10px 0px;
  margin: 0px;
}

.signup-options > div.fieldset-wrapper {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.node-form .form-radios .form-item {
  display: inline;
  margin: 0px 5px;
}

.node-form .form-radios {
  display: block;
  margin: 0px;
  width: 100%;
}

.node-form .form-radios {
  display: block;
  margin: 0px;
  width: 100%;
}

.signup-options-column-3-col {
  width: 32%;
}

.signup-options-column-2-col {
  width: 49%;
}

.signup-options-column-1-col {
  width: 99%;
}

.signup-options-column {
  text-align:center;
  float: left;
}

.signup-options-list h2 {
  text-align: center;
  font-size: 1em;
  line-height: 1.1em;
}

.signup-options-list {
  width: 100%;
  float: left;
<<<<<<< HEAD
=======
  padding-bottom: 14px;
>>>>>>> dev
}

.signup-options-list ul {
  padding: 0em;
  margin: 0em;
  margin-left: auto;
  margin-right: auto;
}

.signup-options-list ul li {
  list-style-type: none;
}

.signup-options-list ul li a {
  color: #000;
}

.signup-options-date {
  display: none;
}

.signup-options-fake-button {
<<<<<<< HEAD
 border-style: solid;
 border-width : 1px 1px 1px 1px;
 text-decoration : none;
 padding: 1px 6px;
 background-color: buttonface;
 border-style: outset;
}

.signup-options-fake-button-down {
 border-style: solid;
 border-width : 1px 1px 1px 1px;
 text-decoration : none;
 padding: 1px 6px;
 background-color: buttonface;
 border-style: inset;
}

html body fieldset fieldset.signup-options-option {
  clear: none;
}

.signup-options-list {
  margin-bottom: 1em;
}
=======
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding: 1px 6px;
  background-color: buttonface;
  border-style: outset;
}

.signup-options-fake-button-down {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding: 1px 6px;
  background-color: buttonface;
  border-style: inset;
}

.form-item > .signup-options {
  clear: none;
}
>>>>>>> dev
